header.titutlo {
    background-color: rgb(118, 168, 118);
    position: relative;
    background-size: cover;
    padding-top: 8px;
    padding-bottom: 8px;
}

header.titulo div{
    text-align: center;
}

.h1titulo{
    color: beige;
}