{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <div class="container center text-center">
        <div>
            <h1 >RECETAS</h1>
        </div>
        <div class="" style="background-color: antiquewhite;height: 700px; border-radius: 12px; position: relative;">
            <div style="background-color: gray; position: absolute; top: 0; bottom: 0;left: 0;right: 0;width: 80%;height: 80%;margin: auto;">
                <p>RECETA</p>
                <P>SLIDE</P>
            </div>
        </div>
        </div>
    </div>
    

{% endblock %}

