<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if Vegetarian %}
    <ul>
    {% for receta in Vegetarian %}
    <li> {{receta.nombre}} </li>
    <li> {{receta.dificultad}} </li>
    <li>{{receta.tiempo}}</li>
    <li>{{receta.receta}}</li>
    {% endfor %}
</ul>
{% endif %}

<form action="/AppCoder/busquedaVegetariano" method="GET">
    <input type="submit" value="Volver" />
</form>
</body>
</html>