{% extends 'AppCoder/padre.html' %}
{% load static %}
{% block contenidoQueCambia %}

<div class = "container-lg">

        <!-- Contenedor izquierda con titutlo y agregado,etc -->
    <div class="row">
        <div class = "col-sm-4 mt-xxl-auto text-xxl-center">  
            <h1>Vegano</h1>
            <p>Busca o agrega tus recetas favoritas</p>
        
            <a href="{% url 'VeganFormulario' %}">Agregar receta</a>
        </div>
        <!-- Contenedor derecho con las recetas 3x3? -->
        <div class = "col-sm-8">
            <div class="conteiner">
                <p>Aqui iran las recetas en un grid</p>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}